<div class="jumbotron">
	<div class="container text-center">
		<h1 class="white margintop marginbottom"><strong>Keeping in touch just got easy</strong></h1>
		<div class="marginbottom margintop">
			<h3 class="white">Found an interesting article?<br>See which of your contacts might also find it interesting so you can say hi and share it with them.</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-3"></div>
			<div class="col-lg-6 text-center">
				<form role="form" class="" method="get" action="<%= url_for action: :login_dev, controller: :pages %>">
					<% if authtoken %>
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Paste your article URL here" name="url" value="<%=@url %>">
							<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
							</span>
						</div>
					<% else %>
						<button type="submit" class="btn btn-success btn-lg">Login to Evernote!</button>
					<% end %>
					<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
			<div class="col-lg-7">
	 				<% if @suggestions %>
	 					<div id="result"></div>
	    				<h2 class="text-center"><strong>Yay! <%= @suggestions.count %> contacts might be interested in this article.<br>Get in touch!</strong></h2>

			   			 <table class="table table-striped margintop">
				    		<% @suggestions.each do |suggestion| %>
					  	<tr>
					  		<td class="vertalign col-xs-3"><img alt="Rails" src='<%= suggestion[:image] %>'height: "70px" alt="Edit Entry" class="img-circle photo" /></td>
					   		<td class="vertalign col-sx-2"><h4 class="marginleft"><%= suggestion[:name] %></h4></td>
					    	<td class="vertalign col-sx-2">
					    		<strong>
						   			<%= mail_to suggestion[:email], subject: "Interesting article", body: "SPICE UP YOUR RECOMMENDATION WITH A PERSONAL MESSAGE: #{@url}" do %>
						   				<h4><span class="glyphicon glyphicon-share"></span> Get in touch!</h4>
						   			<% end %>
					    		</strong>
							</td>
					  </tr>
				   <% end %>
				</table>
			<% end %>
		</div>
	</div>
</div>

